<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <!-- <title>手机空间瘦身</title> -->
    <!-- <title>安心清理专家</title> -->
    <!-- <title>安心文件管家</title> -->
    <!-- <title>极速飞驰</title> -->
    <!-- <title>安心扫描大师</title> -->
    <!-- <title>EASE CLEANER</title> -->
    <!-- <title>Ease Security</title> -->
    <!-- <title>海星消消乐</title> -->
    <!-- <title>Ease Files</title> -->
    <!-- <title>Voice Changer</title> -->
    <title>全能清理专家</title>
    <!-- <title>疯看浏览器</title> -->
    <!-- <title>天神清理</title> -->
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
